body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

p {
  margin-bottom: 25px;
}

h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
}

h2 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 30px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-size: 21px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #4fb0ff;
}

.fixedHeaderContainer header .headerTitleWithLogo,
.toc .toggleNav .navBreadcrumb h2 {
  letter-spacing: initial;
}

.headerTitleWithLogo {
  color: rgb(158, 248, 253);
  font-weight: 500;
}

@media (max-width: 736px) {
  h1 {
    font-size: 40px;
    line-height: 45px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 16px;
  }
}

.onPageNav ul li {
  font-size: 16px;
  line-height: 18px;
}

.fixedHeaderContainer {
  min-height: 62px;
  padding: 14px 0;
}

.navigationSlider .slidingNav ul li a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  color: rgb(158, 248, 253);
}

.button {
  border: 2px solid #000000;
  font-weight: 500;
  padding: 10px 16px;
}

.mainContainer {
  padding: 80px 0;
}

.homeContainer .homeWrapper {
  padding: 120px 10px;
}

@media screen and (min-width: 1024px) {
  .navPusher {
    padding-top: 63px;
  }
}
